{% extends 'base.html.twig' %}

{% block title %}About - Nexus Archive{% endblock %}

{% block body %}
    <section>
        <h1>About Nexus Archive</h1>
        <p>
            This website was created to automatically collect and display various data
            from the world of <a href="https://www.nexusclash.com/" rel="external">Nexus Clash</a> game.
        </p>
        <p>
            Currently the only implemented feature is a "time machine" that presents various Leaderboards
            in their state at the end of Breath 3.5.
        </p>
    </section>
    <section>
        <h1>Contact information</h1>
        <p>
            My Nexus Clash account is
            <a href="https://www.nexusclash.com/memberlist.php?mode=viewprofile&u=108" rel="external">Badziew</a>,
            you can send me a private message or start a forum thread.
        </p>
        <p>
            My Discord username is <code>That Crazy Old Badziew#1362</code>,
            you can find me on a few different Discord servers,<br>
            including my own personal server
            <a href="https://discord.gg/zBVwzD3f8v" rel="external">House of Badziew</a>.
            Feel free to drop a message in one of these places.
        </p>
    </section>
    <section>
        <h1>Open source</h1>
        <p>The website is an open source project, mirrored for redundancy to a few different code-sharing portals:</p>
        <ul>
            <li><a href="https://gitlab.com/krzysztof-sikorski/nexus-archive" rel="external">Gitlab copy</a></li>
            <li><a href="https://github.com/krzysztof-sikorski/nexus-archive" rel="external">GitHub copy</a></li>
            <li><a href="https://git.launchpad.net/nexus-archive" rel="external">Launchpad copy</a></li>
        </ul>
    </section>
{% endblock %}
